@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600');
$header-height: 6.5vh;

.homeContainer {
    width: 100%;
    height: 100vh;

    &:before {
        width: 100%;
        height: 100%;
        content: ' ';
        background-image: url(./images/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.05;
    }

    #header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        background: #111111;
        color:#ccc;
        cursor: default;
        height: $header-height;
        img {
            height: $header-height;
        }
        .divHello {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 2.1vh;

            a , button {
                color:#ccc;
            }
            
            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
                font-size: 2.1vh;
            }
        }
    }

    #heading {
        width: 100%;
        height: calc((100vh - #{$header-height})*0.2);
        background-color: #111111;
        color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("./images/banner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        
        &:before {
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
            content: ' ';
            display: block;
            left: 0;
            opacity: 0.6;
            position: absolute;
            top: 0;
            z-index: 1; 
        }
      
        .menuLine {
            width: 100%;
            height: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            backdrop-filter: blur(100px);
            a {
                line-height: 1.5715;
                background-color: transparent;
                color: white;
                border: none;
                height: 100%;
                font-size: 2vh;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px 15px;
            }
        }
    }

    #main {
        padding-top: 20px;
        height: calc((100vh - #{$header-height})*0.8);
        width: 100%;
        
        .inner {
            margin: 0 auto;
            width: 75rem;
            max-width: calc(100% - 6rem);
            height: 100%;
           
            .statisticContainer {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .topCandiesEditableTable {
                width: 100%;
                height: 30px;
                background-color: transparent;
                img {
                    cursor: pointer;
                }
            }

            .buyOnlineContainer {
                height: 100%;
                width: 100%;
                button {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        font-size: 25px;
                    }
                }
                .buyOnlineGalery {
                    height: calc((100vh - #{$header-height})*0.7);
                    overflow-y: auto;
                    .ant-col {
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img {
                            width:130px;
                        }
                        .priceInputContainer {
                            display: flex;
                            width: 60%;
                            align-items: center;
                            justify-content: space-around;
                            .ant-input {
                                width: 50px;
                                height: 20px;
                                padding: 0;
                                padding-left: 5px;
                            }
                            span {
                                font-size: 10px;
                            }
                        }
                        .ant-divider-horizontal {
                            margin: 4px 0;
                            border-top: 5px solid #828282;
                            width: 80%;
                            min-width: 80%;
                        }
                    }
                }
            }
        }
    }
}